:root {
    --dark-block-colour: #779556;
    --light-block-colour: #ffffff;
    --piece-colour: #000000;
    --highlight-invalid-colour: #ff0000;
    --highlight-valid-colour: #008000;
}

/* Tooltip */

#cl-tooltip {
	display: none;
	padding: 5px;
	z-index: 999;
}

#cl-tooltip[data-show] {
	position: fixed;
	display: flex;
}

/* Chess Board and Pieces */

#cl-chess-board {
	position: fixed;
	z-index: 999999;
	outline: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	left: 10px;
	top: 10px;
	visibility: hidden;
	background: white;
}

.cl-chess-board-container {
	display: flex;
	flex-direction: column;
}

.cl-button-container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

#cl-chess-container {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}

#cl-chess-container > div {
	display: flex;
}

#cl-chess-container > div div {
	height: 100%;
	flex: 1 1 0px;
}

#cl-show-chessboard {
	font-size: 2rem;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

#cl-show-chessboard:hover {
	background-color: rgba(158, 158, 158, 0.3);
}

.cl-chess-piece {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--piece-colour);
	width: 100%;
	height: 100%;
	font-size: 28px;
	cursor: pointer;
}

div:has(> span.cl-chess-piece-dark) {
	background-color: var(--dark-block-colour);
}

div:has(> span.cl-chess-piece-light) {
	background-color: var(--light-block-colour);
}

/* Above Chess Board */

.cl-header-container {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.cl-header {
	font-size: 18px;
	font-weight: bold;
	margin-right: auto;
}

.cl-btn {
	cursor: pointer;
	padding: 5px 10px;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

#cl-cls-btn {
	background-color: #ff4d4d;
	color: white;
}

#cl-cls-btn:hover {
	background-color: #ff3333;
}

#cl-reset-btn {
	background-color: #6052e4;
	color: white;
	margin-right: 5px;
}

#cl-reset-btn:hover {
	background-color: #3827cc;
}

#cl-chess-board > div {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

#cl-chess-container {
	clear: both;
}

/* Highlighting */

.cl-highlight-1 {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--highlight-valid-colour) !important;
}

.cl-highlight-2 {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--highlight-invalid-colour) !important;
}
