:root {
	--dark-block-colour: #779556;
	--light-block-colour: #ffffff;
	--piece-colour: #000000;
	--highlight-invalid-colour: #ff0000;
	--highlight-valid-colour: #008000;
}

/* Tooltip */

#cl-tooltip {
	display: none;
	padding: 5px;
	z-index: 999;
}

#cl-tooltip[data-show] {
	position: fixed;
	display: flex;
}

/* Chess Board and Pieces */

#cl-chess-board {
	position: fixed;
	z-index: 999999;
	outline: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	left: 10px;
	top: 10px;
	visibility: hidden;
	background: white;
}

#cl-chess-board.dark-mode {
	background: #333;
	color: white;
}

body.cl-dark-mode {
	background-color: #333;
	color: white;
}

.dark-mode .cl-header {
	color: white;
}

.dark-mode #cl-chess-container {
	border-color: white;
}

.cl-chess-board-container {
	display: flex;
	flex-direction: column;
}

.cl-button-container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

#cl-chess-container {
	width: 320px;
	height: 320px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, 1fr);
}

#cl-chess-container > div {
	display: flex;
}

#cl-chess-container > div div {
	height: 100%;
	flex: 1 1 0px;
}

#cl-show-chessboard {
	font-size: 2rem;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

#cl-show-chessboard:hover {
	background-color: rgba(158, 158, 158, 0.3);
}

.cl-chess-piece {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--piece-colour);
	width: 100%;
	height: 100%;
	font-size: 30px;
	cursor: pointer;
	user-select: none;
}

div:has(> span.cl-chess-piece-dark) {
	background-color: var(--dark-block-colour);
}

div:has(> span.cl-chess-piece-light) {
	background-color: var(--light-block-colour);
}

/* Above Chess Board */

.cl-header-container {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.cl-header {
	font-size: 20px;
	font-weight: bold;
	margin-right: auto;
	margin-left: 10px;
	margin-bottom: 7px;
}

.cl-btn {
	cursor: pointer;
	padding: 5px 10px;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

#cl-cls-btn {
	background-color: #ff4d4d;
	color: white;
}

#cl-cls-btn:hover {
	background-color: #ff3333;
}

#cl-reset-btn {
	background-color: #6052e4;
	color: white;
	margin-right: 5px;
}

#cl-reset-btn:hover {
	background-color: #3827cc;
}

.cl-drag-handle {
	cursor: move;
	padding: 5px 5px;
	border: none;
	font-size: 16px;
	border-radius: 5px;

	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

#cl-symbol-btn {
	background-color: #006400;
	color: white;
	margin-right: 5px;
}

#cl-symbol-btn:hover {
	background-color: #038503;
}

.cl-symbol-btn-off {
	background-color: #037703 !important;
	cursor: pointer;
	padding: 5px 10px;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.cl-symbol-btn-on {
	background-color: #64ee64 !important;
	cursor: pointer;
	padding: 5px 10px;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	transition:
		background-color 0.3s,
		color 0.3s;
}

#cl-chess-board > div {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

#cl-chess-container {
	clear: both;
}

/* Highlighting */

.cl-highlight-1 {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--highlight-valid-colour) !important;
}

.cl-highlight-2 {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--highlight-invalid-colour) !important;
}

/* Tooltip */

.cl-btn[title] {
	position: relative;
	cursor: pointer;
}

.cl-btn[title]:hover::after {
	content: attr(title);
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 10px;
	background-color: #333;
	color: white;
	border-radius: 4px;
	font-size: 14px;
	white-space: nowrap;
	z-index: 1000;
	margin-top: 5px;
}

.cl-btn[title]:hover::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #333 transparent;
	margin-top: -5px;
}

/* Password Meter */

#cl-password-strength-container {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cl-password-strength-meter {
	height: 5px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 3px;
}

#cl-password-strength-meter::-webkit-meter-bar {
	background: none;
	background-color: #ffffff;
}

#cl-password-strength-meter::-webkit-meter-optimum-value {
	transition: width 0.5s;
}

#cl-password-strength-text {
	font-size: 15px;
	font-weight: bold;
	margin-top: 6px;
	text-align: center;
}
