:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5rem;
	text-align: center;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
	}
}

.cl-settings-container {
	font-family: 'Roboto', sans-serif;
	max-width: 400px;
	margin: 0 auto;
	color: #333;
}

.cl-settings-container div {
	margin-bottom: 15px;
}

.cl-settings-container label {
	color: white;
	display: inline-block;
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
}

button {
	padding: 8px 15px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: white;
}

.cl-settings-card {
	background-color: #555;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
}
  
.cl-setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}
  
label {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
}
  
label i {
	margin-right: 0.5rem;
	color: #3498db;
}
  
input[type="color"] {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
.cl-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 34px;
}
  
.cl-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
  
.cl-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;
}
  
.cl-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}
  
input:checked + .cl-slider {
	background-color: #2196F3;
}

input:checked + .cl-slider:before {
	transform: translateX(26px);
}
  
.cl-reset-btn, .cl-github-btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
	text-decoration: none;
	transition: background-color 0.3s;
}
  
.cl-reset-btn:hover, .cl-github-btn:hover {
	background-color: #2980b9;
}
  
.cl-github-btn {
	margin-top: 0.5rem;
	background-color: #333;
}
  
.cl-github-btn:hover {
	background-color: #555;
}